[defaults]
inventory = inventories/aws_ec2.yml
host_key_checking = False
roles_path = ./roles
remote_user = ubuntu
private_key_file = ~/.ssh/clouddevops-key.pem
timeout = 60

interpreter_python = /usr/bin/python3
retry_files_enabled = False

[ssh_connection]

pipelining = False

retries = 10

ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o IPQoS=throughput

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2